/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.post-type-archive-product .custom_promotions {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 1.2;
    transition: .4s;
}

.post-type-archive-product .custom_promotions_item {
    display: block;
    margin-top: 3px;
    margin-bottom: 5px;
    opacity: 1;
}