/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.wrap h3 {
    font-size: 20px;
}
.wrap h4 {
    font-size: 16px;
}

.wrap .active-item {
    background-color: #fff;
    color: #444;
}

.input-pharmacies__content-select {
    margin-bottom: 10px;
}

.input-pharmacies__content-checbok {
    display: flex;
    align-items: center;
    line-height: 20px;
}

.input-pharmacies__content-checbok [type="checkbox"] {
    margin: unset;
    margin-right: 4px;
}

.input-pharmacies__content-checbok label {
    margin-bottom: unset;
}

.promotion-admin-inputs {
    display: grid;
    grid-template-columns: fit-content(100%);
    row-gap: 10px;

}

.promotion-admin-inputs__item--button input {
    min-width: 100px;
}

.promotion-admin-inputs__item--input input {
    width: 100%;
    height: 100%;
}

.promotion-admin-list-of-prices > * {
    margin-bottom: 10px;
}

.promotion-admin-list-of-prices > *:last-child {
    margin-bottom: unset;
}

.promotion-admin-list-of-prices__heading {
    display: inline-block;
}

.pharmacy-group >* {
    margin-top: 10px;
}

.pharmacy-group__button-send {
    margin-left: 4px;
}

.clear-margin-left {
    margin-left: 0!important;
}

.popover{
    max-width:400px!important;
}

.card.w-100 {
    max-width: unset!important;
}

.modal-dialog {
    position: fixed !important;
    top: calc(50vh - 65px);
    left: calc(50vw - 150px);
    z-index: 10;
}

.modal-footer{
    justify-content: center !important;
}

@media screen and (max-width: 600px) {
    .input-pharmacies__content-select > div {
        margin-bottom: 10px;
        display: inline-block;
    }
    .input-pharmacies__content-select {
        margin-bottom: unset;
    }
}

@media screen and (min-width: 768px) {
    .promotion-admin-inputs {
        grid-template-columns: fit-content(50%) fit-content(50%);
        column-gap: 4px;
    }
}

@media screen and (max-width: 768px) {

    .input-pharmacies-check-sum {
        display: flex;
        flex-direction: column;
    }

    .input-pharmacies-check-sum input {
        margin-bottom: 10px;
    }

    .input-pharmacies-check-sum input:not(.input-pharmacies-check-sum__button-send ) {
        max-width: 220px;
    }

    .input-pharmacies-check-sum  .input-pharmacies-check-sum__button-send {
        margin-bottom: unset;
        width: 67px;
    }

    .pharmacy-group__button-send {
        margin-top: 10px;
    }
}

.ml-n30 {
    margin-left: -30px!important; /*custom class*/
}